{% extends 'nbase.html' %}
{%block content%}
{%load tags%}

<!-- page for each article -->

<div class="card">
    <div class="card-header">
        {{article}}<br>
        {{article.uploaded_by}}-{{article.last_edited}}
        <div id="favourite-container" style="float: right;">


            <button
                class="favourite btn {% if article|checkFavourite:request.user %} btn-primary {%else%} btn-outline-primary {%endif%}"
                value="{{article.id}}">Favourite</button>


        </div>
    </div>
    <div class="card-body">
        Preview:<br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magnam nam voluptates error sunt, rem eaque
        voluptatem impedit aperiam, quasi qui autem culpa hic temporibus nisi repellendus fugiat sequi laboriosam.
        <br><br><button class="btn btn-primary" style="float: right;">Download</button>
    </div>
    <div class="card-footer comment">
        <div>
            <input type="text" placeholder="Comment" />
            <button class="btn comment" value="{{article.id}}">Post</button>
        </div>
        <div>
            {% for comment in article.get_comments %}
            <div>
            <br>
            {%if comment.from_person == request.user.person or article.uploaded_by == request.user.person %}
            <span class="cmnt-dlt" value="{{comment.id}}">x</span>
            {%endif%}
            
            <a href="{%url 'profileview' comment.from_person %}"> <strong> {{comment.from_person}} </strong></a> :
            {{comment}}
            </div>
            {% endfor %}
        </div>

    </div>

</div>
{%endblock%}