{% extends 'nbase.html' %}
{%block content%}
{%load tags%}

<!-- page for each article -->

<div class="card">
    <div>
        {{article}}<br>
        {{article.uploaded_by}}-{{article.last_edited}}

        <!--favourite button here -->
        {%if user.is_authenticated %}<button
                class="favourite btn {% if article|checkFavourite:request.user %} btn-primary {%else%} btn-outline-primary {%endif%}"
                value="{{article.id}}">Favourite</button>
{%endif%}

    </div>
    <div>
        Preview:<br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magnam nam voluptates error sunt, rem eaque
        voluptatem impedit aperiam, quasi qui autem culpa hic temporibus nisi repellendus fugiat sequi laboriosam.
        <br><br>
        <button class="btn btn-primary" style="float: right;">Download</button>
        {% if article.uploaded_by == request.user.person %}
            <button id="delete" style="float: right;", value="{{article.id}}">Delete</button>
            <button class="btn btn-primary" id="myBtn" style="float: right;">Edit</button>
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <!-- form starts here -->
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="form-group">
                        <label>Name</label>
                        {{mform.name}}
                      </div>
                      <div class="form-group">
                        <label>Collaborators</label>
                        {{mform.collaborators}}
                      </div>
                      <div class="form-group">
                        <div class="custom-file">
                          {{fform.file}}
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="doc_type">Type</label>
                        {{mform.doc_type}}
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              
              </div>
        {% endif %}
    </div>

    <!-- comment div -->
    <div class="comment">
        <!-- post comment div -->
        {%if user.is_authenticated %}
        <div>
            <input type="text" placeholder="Comment" />
            <button class="comment" value="{{article.id}}">Post</button>
        </div>
{%endif%}
        <!-- comment list div -->
        <div>
            {% for comment in article.get_comments %}
            <div>

            <!-- span to delete comment available if logged in by owner or commented by owner -->
            {%if comment.from_person == request.user.person or article.uploaded_by == request.user.person %}
            <span class="cmnt-dlt" value="{{comment.id}}">x</span>
            {%endif%}
            
            <a href="{%url 'profileview' comment.from_person %}"> <strong> {{comment.from_person}} </strong></a> :
            {{comment}}
            </div>
            {% endfor %}
        </div>

    </div>

</div>
{%endblock%}