{%extends 'nbase.html'%}
{%load static%}
{%load tags%}
{%block content%}

<!-- Home page -->

<h1>Dashboard</h1>


<!-- Card for articles -->

{% for article in articles %}
<div class="card" style="margin: 10px;">
  <div>
    <a href="{% url 'article' article.id %}">{{article}}</a><br>
    {{article.uploaded_by}}-{{article.last_edited}}<br>
    <span>{{article.get_favouritee|length}}</span>
      <button
        class="favourite btn {% if article|checkFavourite:request.user %} btn-primary {%else%} btn-outline-primary {%endif%}"
        value="{{article.id}}">Favourite</button>
  </div>

  <!-- card body -->
  <div>
    Preview:<br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magnam nam voluptates error sunt, rem eaque
    voluptatem impedit aperiam, quasi qui autem culpa hic temporibus nisi repellendus fugiat sequi laboriosam.
    <br><br><button>Download</button>
  </div>

  <!--comment div-->
  <div class="comment">
    <div>
      <input type="text" placeholder="Comment" />
      <button class="comment" value="{{article.id}}">Post</button>
    </div>
    <!--comments list -->
    <div>
      {% for comment in article.get_comments %}
      <br><a href="{%url 'profileview' comment.from_person.user.username %}"> <strong> {{comment.from_person}} </strong></a> :
      {{comment}}
      {% endfor %}
    </div>
  </div>

</div>
<!-- card end -->
{% endfor %}

<!-- add new article floating button -->
<button id="myBtn" class="float"><i class="fa fa-plus my-float"></i></button>




<!-- modal for add article form -->



<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <!-- form starts here -->
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="form-group">
          <label>Name</label>
          {{form.name}}
        </div>
        <div class="form-group">
          <div class="custom-file">
            {{form.document}}
          </div>
        </div>
        <div class="form-group">
          <label for="doc_type">Type</label>
          {{form.doc_type}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>

</div>
</div>
</div>








{%endblock%}