{%extends 'nbase.html'%}
{%load static%}
{%load tags%}
{%block content%}

<!-- Home page -->

<h1>Dashboard</h1>


<!-- Card for articles -->
{% if articles %}
{% for article in articles %}
<div class="card" style="margin: 10px;">
  <div>
    <a href="{% url 'article' article.id %}">{{article}}</a><br>
    <a href="{% url 'profileview' article.uploaded_by.user.username %}">{{article.uploaded_by}}</a>-{{article.last_edited}}<br>
    <span>{{article.get_favouritee|length}}</span>
      {%if user.is_authenticated %}<input type="checkbox" class="favourite" value="{{article.id}}" {% if article|checkFavourite:request.user %}checked{%endif%}>{% endif %}
  </div>
{% for collaborator in article.collaborators_set.all %}
  <li>check</li>
{% endfor %}
  <!-- card body -->
  <div>
    {% if article.description %}
    <div>
    Preview:<br>
    {{article.description}}
    <br><br>
    </div>
    {%endif%}
    {% for file in article.get_files.document %}
      <button>Download</button>
    {% endfor %}
  </div>

  <!--comment div-->
  <div class="comment">
    {%if user.is_authenticated %}
    <div>
      <input type="text" placeholder="Comment" />
      <button class="comment" value="{{article.id}}">Post</button>
    </div>
    {% endif %}
    <!--comments list -->
    <div>
      {% for comment in article.get_comments %}
      <br><a href="{%url 'profileview' comment.from_person.user.username %}"> <strong> {{comment.from_person}} </strong></a> :
      {{comment}}
      {% endfor %}
    </div>
  </div>

</div>
<!-- card end -->
{% endfor %}
{% else %}
No results found.
{% endif %}
<!-- add new article floating button -->
{%if user.is_authenticated %}
<button id="myBtn" class="float"><strong>+</strong></button>




<!-- modal for add article form -->



<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <!-- form starts here -->
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="form-group">
          <label>Name</label>
          {{form.name}}
        </div>
        <div class="form-group">
          <label>Collaborators</label>
          {{form.collaborators}}
        </div>
        <div class="form-group">
          <div class="custom-file">
            {{fform.file}}
          </div>
        </div>
        <div class="form-group">
          <label for="doc_type">Type</label>
          {{form.doc_type}}
        </div>
        <div class="form-group">
          <label for="doc_type">Short description</label>
          {{form.description}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{%endif%}
</div>









{%endblock%}