{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="{%static 'css/custom.css'%}" rel="stylesheet">
  <link rel="stylesheet" href="{%static 'css/style.css' %}">
  <title>{%block title%} Research Gate {%endblock%}</title>
</head>

<body>


  <nav class="navbar navbar-light bg-light" style="padding: 20px">
    <a class=" navbar-brand">Pulclowk</a>
    <div class="container ">
      <div class="col">
        <a href="/"><button class="btn btn-light col">Home</button></a>
      </div>
      <div class="col">
        <a href="{% url 'profile' %}"><button class="btn btn-light col">Profile</button></a>
      </div>
      <div class="col">
        <a href="{% url 'support' %}"><button class="btn btn-light col">Support</button></a>
      </div>
      <div class='col-8'>
        <div class="row">
          <div class="col-8">

          </div>
          <div class="col d-flex justify-content-center">
            <h5>{{request.user.username}}</h5>
          </div>
          <div class="col">
            <a href="{%url 'logout'%}"><button class="btn btn-dark">Logout</button></a>
          </div>

        </div>

      </div>
    </div>
  </nav>
  <div>
    {% block content%}
    {% endblock%}
  </div>



 


  
  <script>
    var username="{{request.user.username}}"
    var profileurl = "{% url 'profile' %}"
    var favouriteurl = "{% url 'favourite' %}"
    var commenturl = "{% url 'comment' %}"
  </script>
  <script src="{%static 'js/jquery.js'%}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="{%static 'js/custom.js'%}"></script>
    <script src="{%static 'js/script.js'%}"></script>

</body>

</html>