{%extends 'nbase.html'%}
{%load static%}

{%block content%}
<!-- profile view -->

<!-- profile card -->
<div class="card">
  <div class="card-body row">
    <div class="col-3 justify-content-between">
      <img src="{%static 'img/boy.png'%}" style="width: 80; height: 80;" class="rounded-circle img-fluid">
    </div>
    <div class="col">
      <div class="row">
        <h3>{{person}}</h3>
      </div>
      <div class="row">
        {{following|length}} following {{followers|length}} followers {{articles|length}} articles
      </div>
      <div>
        <button class="edit-profile" id="myBtn">Edit Profile</button>
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <!-- form starts here -->
            <div>
            <form method="POST">
              {% csrf_token %}
                <div class="form-group">
                  <label>Name</label>
                  {{form2.full_name}}
                </div>
                <div class="form-group">
                  <label>Username</label>
                  {{form1.username}}
                </div>
                <div class="form-group">
                  <label>User type</label>
                  {{form2.user_type}}
                </div>
                <div class="form-group">
                  <label>Academic Status</label>
                  {{form2.academic_status}}
                </div>
                <div class="form-group">
                  <label>Description</label>
                  {{form2.description}}
                </div>
                <div class="form-group">
                  <label>Email</label>
                  {{form1.email}}
                </div>
                
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>
<!-- profile card end -->



<!-- list of articles doesnot appear if no article -->
{% if articles|length > 0%}
<div class="card">
  <div class="card-header">
    Articles
  </div>
  <div class="card-body">
    <div class="col">
      {% for article in articles %}
      <div class="row">
        <a href="{% url 'article' article.id %}">
          {{article}}
          <div class="small">{{article.last_edited}}</div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
<!-- list end -->


<!-- list of followers doesnot appear if no follower -->
{% if followers|length > 0%}
<div class="card">
  <div class="card-header">
    Followers
  </div>
  <div class="card-body">
    <div class="col">
      {% for follower in followers %}
      <div class="row">
        <a href="{% url 'profileview' follower %}">
          {{follower}}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
<!-- list end -->


<!-- list of favourited articles doesnot appear if no article -->
{% if favourites|length > 0%}
<div class="card">
  <div class="card-header">
    Favourite Articles
  </div>
  <div class="card-body">
    <div class="col">
      {% for favourite in favourites %}
      <div class="row">
        <a href="{% url 'article' favourite.to_article.id %}">
          {{favourite.to_article}}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
<!-- list end -->







{%endblock%}